name: Tests
# on: push
on: [repository_dispatch, workflow_dispatch]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - '3.14'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          apt install -y adduser base-files bash bash-completion binutils binutils-common:amd64 command-not-found coreutils cpp-13-x86-64-linux-gnu cron-daemon-common debconf dhcpcd-base e2fsprogs fuse3 gcc-13-x86-64-linux-gnu gcc-x86-64-linux-gnu hdparm keyutils libattr1:amd64 libaudit-common libbinutils:amd64 libc-bin libc6-dev:amd64 libc6:amd64 libcap2:amd64 libctf0:amd64 libgcc-13-dev:amd64 libgcc-s1:amd64 libgmp10:amd64 libisl23:amd64 libjansson4:amd64 libmagic1t64:amd64 libmecab2:amd64 libmpc3:amd64 libmpfr6:amd64 libpam-runtime libpython3.14-dev:amd64 libpython3.14-stdlib:amd64 libsensors-config libsframe1:amd64 libtirpc-common libudev1:amd64 libusb-1.0-0:amd64 libzstd1:amd64 linux-libc-dev:amd64 locales login logrotate lsb-release ltrace make man-db media-types multipath-tools nano ncurses-base netbase nftables openssl overlayroot procps python3.14 rsyslog screen sudo tar tzdata ucf usb-modeswitch util-linux walinuxagent wget
          pip install adb_shell==0.4.4 black==26.1.0 hpack==4.1.0 hyperframe==6.1.0 pydantic_core==2.41.4 setuptools==80.10.1
      - name: Execute Tests
        run: |
          make install
          make test-requirements
          set -o pipefail
          make test-ci | tee pytest-coverage.txt
